@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Chivo", sans-serif;
  outline: none;
}

.custom-shadow{
  box-shadow: 14px 14px 36px hsla(0, 0%, 60%, .22);
}

nav{
  animation: navAnim 0.5s linear;
}
.student{
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  box-shadow: 1px 1px 10px hsla(0,0%,60%,.22);
 

}
@keyframes navAnim {
  0%{
    transform:translateY(-100%) ;
  }
  100%{
    transform: translateY(0%);
  }
}